{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}




<div class="container">
    <div class="row">
        <div class="col-sm-7">
            <h2 class="text text-primary"><i class="fas fa-user"></i> Admin</h2>
            <h3 class="text text-secondary">Mohammad Zaid</h3>
            <h3 class="text text-secondary">9785575657</h3>
            <h3 class="text text-secondary">007zaidameen@gmail.com</h3>
        </div>


        <div class="col-sm-4 mb-4 ">
        <img src="{{student.image.url}}" width="300px" height="300px" style="border-radius:50%">

        </div>

    </div>


</div>



{% include 'footer.html' %}

{% endblock %}