{% load static %}

{% block body %}

{% include 'admin_navigation.html' %}

<script>
    function checkpass()
    {
    if(document.changepass.newpwd.value!=document.changepass.confirmpwd.value)
    {
    alert('Password and Confirm Password are not same');
    document.changepass.confirmpwd.focus();
    return false;
    }
    return true;
    }
</script>



<div class="col-9" style="border:2px solid black; margin-left:12%;">
    <form method="post"  name="changepass" onsubmit="return checkpass()" class="form-group" style="margin-top:2%;">
        {% csrf_token %}
        <h1 style="margin-left:35%">PASSWORD CHANGE</h1>
        <p>Current Password<input type="password" name="pwd"  class="form-control" required ></p>
        <p>New Password<input type="password" name="newpwd" class="form-control" required ></p>
        <p>Confirm Password<input type="password" name="confirmpwd" class="form-control" required ></p>

        <p style="color:white"><button type="submit" style="margin-left:45%; background-color:Grey; padding:5px;">Change Password</button></p>
    </form>
</div>

{% ifequal error "no" %}
<script>
    alert("Your Password Has Been Changed Successfully");
    window.location=('{% url 'admin_logout' %}')
</script>
{% endifequal %}

{% ifequal error "yes" %}
<script>
    alert("Something Went Wrong! Try Again..");
</script>
{% endifequal %}

{% ifequal error "not" %}
<script>
    alert("Current Password Is Wrong");
</script>
{% endifequal %}


{% include 'footer.html' %}

{% endblock %}